  

<div class="alcohol_box">
<div class="card-header text-center mensagem">
  Devo Abastecer com
</div>
<div class="card-header text-center mensagem">
  <span class="mensagem-alcool">ÁLCOOL</span> OU <span class="mensagem-gasolina">GASOLINA</span>
</div>
  <div class="card">
    <div class="card-block">
    <%= form_tag("/challenge", method: "post", remote: true,  id: "challenge_form") do %>
      <div class="row">
        <div class="input-field col s2 offset-s1">
           <%= image_tag '/icon-alcool.png', class: "img-responsive-alcool"%>
        </div>
        <div class="input-field col s6 offset-s1 input_field-alcool">
            <input id="alcohol" name="alcohol" placeholder="R$ 2.49" type="text" class="validate">
            <label for="alcohol"><b>Preço do Álcool</b></label>
        </div>
    </div>
    <div class="row">
        <div class="input-field col s2 offset-s1">
           <%= image_tag '/icon-gasolina.png', class: "img-responsive-gasoline"%>
        </div>
        <div class="input-field col s6 offset-s1 gasoline">
          <input id="gasoline" name="gasoline" placeholder="R$ 4.49" type="text" class="validate">
          <label for="gasoline"><b>Preço da Gasolina</b></label>
        </div>
    </div>
    <div class="row">
          <div class="col s12 m12">
            <button class="btn waves-effect waves-light btn-big" type="submit" name="action">Calcular
            </div>
          </div>
      <% end %>
      <div class="card-header text-center mensagem-sucess" id="mensagem-sucess">
        <div class="row">
               <h1></h1>
            <div class="col s5 m8">
             É mais econômico
            </div>
            <div class="col s9 m9">
              abastecer com <span id="mensagem-alerta" class="mensagem-alerta"></span>
            </div>
          </div>
       </div>
    </div>
  </div>

